
.flexRowContent--menu{
    background: #06092B;
    color: white;
}

.flexRowContent--topBar{
    background: #1DB8FB;
    color: white;
}

.flexRowContent--main-header-mobile{
    background: #06092B;
    display: flex;
    align-items: center;
}
.flexColChild--infoCol {
    width: 470px;
    height: 200px;
}

.flexRow--plataformas {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 80px;
}