
.flexRowContent--menu{
    background: #06092B;
    color: white;
}

.flexRowContent--topBar{
    background: #1DB8FB;
    color: white;
}

.flexRowContent--main-header-mobile{
    background: #06092B;
}