
.flexRowContent--menu{
    background: #06092B;
    color: white;
}

.flexRowContent--topBar{
    background: #1DB8FB;
    color: white;
}

.flexRowContent--main-header-mobile{
    background: #06092B;
    display: flex;
    align-items: center;
}
.flexColChild--infoCol {
    width: 470px;
    height: 200px;
}

.flexRow--plataformas {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 80px;
}
.flexRow--containerBanner {
    padding: 0;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

.flexRowContent--linhaImagensMobile {
    width: 315px;
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.flexCol--colunasConteudo {
    width: 250px;
    padding-left: auto;
}

.flexCol--colunasConteudoDuplo {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}

.flexCol--colunaPayment {
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexColChild--payment-methods {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.flexRowContent--linha1mobile {
    margin: 0 auto;
    padding-left: 5px;
}

.flexCol--colunasConteudoDuplomobile {
    width: 250px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    margin-bottom: 60px;
    margin-top: 60px;
}

.flexRowContent--linhaBotoes {
    margin-bottom: 60px;
    margin-top: 60px;    
}
.flexRowContent--linhaBotoesMobile {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
    justify-content: center;
}

.flexCol--colunaFiltros {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.flexRow--linhacatalogo2 {
    margin-top: -75px;
}
.flexColChild--colunasCatalogo {
    width: 300px;
    margin: 0 auto;
}

.flexCol--colunasCatalogo {
    width: 300px;
}


.flexColChild--colunadetalhe {
    width: 500px;
    margin-left: 250px;
}
.flexCol--colunadetalhe {
    width: 500px;
}
.flexCol--colunadestaque {
    width: 1161px;
}
.flexColChild--colunadestaque {
    width: 1161px;
    margin-left: -260px;
}
.flexCol--colunadestaque {
    width: 1161px;
}

.flexRow--linhadetalhes {
    margin-bottom: 80px;
}