
.notificationBarInner--notificacao {
    background-color:#1DB8FB;
}

.autoCompleteOuterContainer{
    background: none;
    color: white;
}
.seacrhBarContainer{
    background: none;
    border: none;
}

.searchIcon{
    color: #fff;
}

.infoCardTextContainer--bannerOne{
    position: absolute;
    width: 565px;
    height: 52px;
    left: 60px;
    top: 530px;
}

.infoCardHeadline--bannerOne {
    font-family: "Poppins", serif;
    font-size: 46px;
    font-weight: normal;
    color: white;   
}
.infoCardHeadline--bannerOneMobile{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
    color: white;
    font-size: 28px;
    line-height: 32px;
    /* identical to box height, or 114% */

    text-align: center;
    letter-spacing: 0.02em;
}

.infoCardSubhead--bannerOne {
    font-family: "Poppins", serif;
    font-size: 20px;
    font-weight: normal;
    color: white;
    margin-top: 0;
}
.infoCardSubhead--bannerOneMobile {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    margin-top: 20px;
    /* identical to box height, or 156% */

    text-align: center;
    letter-spacing: 0.02em;
    color: white;
}

.infoCardTextContainer--bannerOneMobile {
    position: absolute;
    width: 374px;
    height: 32px;
    top: 300px;
    text-align: center;
}


.infoCardContainer--bannerOne {
    position: relative;
    left: 0px;
    top: -110px;
    height: 740px;
    width: 100%;
    border: none;
}
.infoCardContainer--bannerOneMobile {
    position: relative;
    left: 0px;
    top: 0px;
    margin-bottom: 0;
}

.imageElement--imagem {
    max-width: 316px;
    min-width: 257;
    max-height: 450px;
    min-height: 420;
    margin: 5px;
}
.imageElement--imagemMobile {
    width: 257px;
    height: 420px;
}
.slideChildrenContainer{
    margin: 10px;
}


.infoCardContainer--info-plataforma {
    width: 360px;
    height: 200px;
    border: none;
    display: flex;
    align-items: end;
    align-content: flex-end;
    /* Primário / Main Color */

    background: #1DB8FB;
    border-radius: 4px;
    border: 2px solid black;
    margin: 0;
    padding: 0;
}

.infoCardHeadline--info-plataforma{
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 34px;
    text-align: end;
    /* identical to box height, or 131% */

    letter-spacing: 0.02em;

    /* Neutro / White */

    color: #FFFFFF;
}
.infoCardCallActionContainer--info-plataforma {
    display: none;
}

.infoCardImage--info-plataforma {
    height: 197px;
    width: 182px;
    margin-bottom: -4px;
    margin-left: 5px;
}

.infoCardContainer--info-plataformamobile {
    width: 330px;
    height: 175px;
    border: none;
    display: flex;
    align-items: end;
    align-content: flex-end;
    /* Primário / Main Color */

    background: #1DB8FB;
    border-radius: 4px;
    border: 2px solid black;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.infoCardHeadline--info-plataformamobile{
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 34px;
    text-align: end;
    /* identical to box height, or 131% */

    letter-spacing: 0.02em;

    /* Neutro / White */

    color: #FFFFFF;
}
.infoCardCallActionContainer--info-plataformamobile {
    display: none;
}

.infoCardImage--info-plataformamobile {
    height: 171px;
    width: 155px;
    margin-bottom: -4px;
    margin-left: 5px;
}

.container {
    margin-bottom: 80px;
}

.infoCardContainer--bannerEmbreve {
    height: 720px;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
    border: none;
}
.infoCardTextContainer--bannerEmbreve{
    text-align: right;
    width: 400px;
    margin-right: 237px;
    margin-top: -100px;
    padding: 0;
}

.infoCardHeadline--bannerEmbreve {
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 52px;
    /* identical to box height, or 113% */

    display: flex;
    align-items: flex-end;

    /* Primário / Dark */

    color: #06092B;
    margin: 0;
}
.infoCardSubhead--bannerEmbreve {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */

    letter-spacing: 0.02em;

    /* Neutro / White */

    color: #FFFFFF;
    margin: 0;
}

.infoCardCallActionContainer :global(.vtex-button) {
    width: 182px;
    height: 56px;
    color: white;
    background: linear-gradient(177.65deg, #1DB8FB 1.96%, #158ABC 98.03%);
    border-radius: 5px;
    border: none;
}

.infoCardCallActionContainer :global(.vtex-button):hover {
    background: linear-gradient(177.65deg, #1DB8FB 1.96%, #158ABC 98.03%);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


.infoCardContainer--bannerEmbrevemobile {
    width: 330px;
    height: 440px;
    margin: 0 auto;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
    border: none;
}
.infoCardTextContainer--bannerEmbrevemobile {
    text-align: right;
    width: 250px;
}
.infoCardHeadline--bannerEmbrevemobile {
    /* Heading 3 */

    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 32px;
    /* identical to box height, or 114% */

    display: flex;
    align-items: flex-end;
    letter-spacing: 0.02em;
    color: #06092B;
}

.infoCardSubhead--bannerEmbrevemobile {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 28px;
    /* identical to box height, or 233% */

    letter-spacing: 0.02em;

    /* Neutro / White */

    color: #FFFFFF;
}
.infoCardCallActionContainer--bannerEmbrevemobile .vtex-button {
    width: 150px;
}